@import "tailwindcss";

@theme {
  --color-white: #fff9fb;
  --color-black: #0e0f12;
  --color-red: #bb0a21;
  --color-light-purple: #ca3cff;
  --color-dark-purple: #742395;
}

body { @apply bg-black text-white }

h1 { @apply text-5xl }
h2 { @apply text-4xl }
h3 { @apply text-3xl }
h4 { @apply text-2xl }
h5 { @apply text-xl }
h6 { @apply text-lg }

a { @apply text-blue-600 hover:text-blue-400 underline }

form { @apply flex flex-col gap-4 }
label { @apply flex items-center justify-start text-xl }
input, textarea { @apply border-1 px-4 py-2 rounded-lg }
button:focus, input:focus, textarea:focus { outline: none }

.btn { @apply px-4 py-2 rounded-lg cursor-pointer }
