@import "tailwindcss";

@theme {
  --color-white: #fff9fb;
  --color-black: #0e0f12;
  --color-red: #bb0a21;
  --color-purple: #ca3cff
}

select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

body { @apply bg-black text-white }
nav { @apply fixed top-0 left-0 h-16 w-screen bg-purple flex items-center justify-end px-64 gap-4 }
main { @apply px-64 }
footer { @apply px-64 }

h1 { @apply text-5xl }
h2 { @apply text-4xl }
h3 { @apply text-3xl }
h4 { @apply text-2xl }
h5 { @apply text-xl }
h6 { @apply text-lg }

label { @apply flex items-center justify-start text-xl }
input, textarea, select { @apply border-1 px-4 py-2 rounded-lg; color-scheme: dark; }
select { @apply pr-4 }
button:focus, input:focus, textarea:focus, select:focus { outline: none }

.btn { @apply px-4 py-2 rounded-lg cursor-pointer bg-purple hover:bg-purple/50 transition-all duration-300 w-full }
.btn-danger { @apply px-4 py-2 rounded-lg cursor-pointer bg-red hover:bg-red/50 transition-all duration-300 w-full }
